.content1 {
    -fx-background-size: contain, contain, contain, contain, contain, contain;
    -fx-background-position: bottom, bottom, bottom, bottom, bottom, bottom;
    -fx-background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x;
    -fx-background-image: url("img/layer_07_1920x1080.png"), url("img/layer_06_1920x1080.png"), url("img/layer_05_1920x1080.png"), url("img/layer_04_1920x1080.png"), url("img/layer_03_1920x1080.png"), url("img/layer_02_1920x1080.png"), url("img/layer_01_1920x1080.png");
}

.button {
    -fx-background-color: linear-gradient(#f2ba44, #f2ba44), linear-gradient(#f2ba44, #f2ba44), linear-gradient(#f2ba44, #f2ba44), linear-gradient(#f2ba44 0%, #f8c202 50%, #eea10b 100%), linear-gradient(from 0% 0% to 15% 50%, #f2ba44, rgba(255, 255, 255, 0));
    -fx-background-radius: 30;
    -fx-font-family: "JUICE ITC";
    -fx-font-weight: bold;
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 23px;
    -fx-padding: 10 20 10 20;
}

#buttonRequestNumber {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-font-size: 1.1em;
}

#buttonRequestNumber:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
    -fx-font-size: 23px;
}

#buttonRequestNumber:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
    -fx-font-size: 28px;
}

#buttonRequestNumber Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian, #a30000, 0, 0, 0, 2);
    -fx-font-size: 28px;
}

.text-field {
    -fx-alignment: center;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

.combo-box {
    -fx-background-color: #ecebe9, rgba(0, 0, 0, 0.05), linear-gradient(#dcca8a, #c7a740), linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%), linear-gradient(#f6ebbe, #e6c34d);
    -fx-padding: 12 25 12 25;
    -fx-font-family: "JUICE ITC";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-insets: 0, 9 9 8 9, 9, 10, 11;
    -fx-background-radius: 50;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

.combo-box .list-cell {
    -fx-background-color: #ecebe9, rgba(0, 0, 0, 0.05), linear-gradient(#dcca8a, #c7a740), linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%), linear-gradient(#f6ebbe, #e6c34d);
}

.panel {
    -fx-font-family: "JUICE ITC";
}

.tab-pane {
    -fx-background-color: #dcca8a, rgba(0, 0, 0, 0.05), linear-gradient(#dcca8a, #c7a740), linear-gradient(#dcca8a 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%), linear-gradient(#f6ebbe, #e6c34d);
    -fx-font-family: "JUICE ITC";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

.tab-header-background {
    -fx-background-color: #e6c550, rgba(0, 0, 0, 0.05), linear-gradient(#e6c550, #e6c550), linear-gradient(#e6c550 0%, #e6c550 20%, #e6c550 80%, #e6c550 100%), linear-gradient(#e6c550, #e6c550);
    -fx-padding: 15 30 15 30;
    -fx-font-family: "JUICE ITC";
    -fx-font-weight: bold;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

#buttonConvertir {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-font-size: 1.1em;
}

#buttonConvertir:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
    -fx-font-size: 28px;
}

#buttonConvertir:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
    -fx-font-size: 28px;
}

#buttonConvertir Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian, #a30000, 0, 0, 0, 2);
    -fx-font-size: 28px;
}