/*
 * Empty Stylesheet file.
 */

.root {
    -fx-background-size: contain, contain, contain, contain, contain, contain, contain, contain;
    -fx-background-position: bottom, bottom, bottom, bottom, bottom, bottom, bottom, bottom;
    -fx-background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x;
    -fx-background-image: url("img/layer_07_1920x1080.png"), url("img/layer_06_1920x1080.png"), url("img/layer_05_1920x1080.png"), url("img/layer_04_1920x1080.png"), url("img/layer_03_1920x1080.png"), url("img/layer_02_1920x1080.png"), url("img/layer_01_1920x1080.png"), url("img/layer_08_1920x1080.png")
}

#comenzar {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.9em;
}

#comenzar:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

#comenzar:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#comenzar Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian, #a30000, 0, 0, 0, 2);
}

#startButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.9em;
}

#startButton:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

#startButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#startButton .text {
    -fx-fill: rgb(0, 0, 0);
    -fx-font-family: "JUICE ITC";
    -fx-font-weight: bold;
    -fx-font-size: 4.5em;
    -fx-effect: dropshadow( gaussian, #a30000, 0, 0, 0, 2);
}

.combo-box {
    -fx-background-color: #ecebe9, rgba(0, 0, 0, 0.05), linear-gradient(#dcca8a, #c7a740), linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%), linear-gradient(#f6ebbe, #e6c34d);
    -fx-padding: 15 30 15 30;
    -fx-font-family: "JUICE ITC";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-insets: 0, 9 9 8 9, 9, 10, 11;
    -fx-background-radius: 50;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

.combo-box .list-cell {
    -fx-background-color: #ecebe9, rgba(0, 0, 0, 0.05), linear-gradient(#dcca8a, #c7a740), linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%), linear-gradient(#f6ebbe, #e6c34d);
}

.text-field {
    -fx-background-color: #ecebe9, rgba(0, 0, 0, 0.05), linear-gradient(#dcca8a, #c7a740), linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%), linear-gradient(#f6ebbe, #e6c34d);
    -fx-padding: 15 30 15 30;
    -fx-font-family: "JUICE ITC";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-insets: 0, 9 9 8 9, 9, 10, 11;
    -fx-background-radius: 50;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}