/*
 * Empty Stylesheet file.
 */

.root {
    -fx-background-size: contain, contain, contain, contain, contain, contain, contain;
    -fx-background-position: bottom, bottom, bottom, bottom, bottom, bottom, bottom;
    -fx-background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x;
    -fx-background-image: url("img/layer_07_1920x1080.png"), url("img/layer_06_1920x1080.png"), url("img/layer_05_1920x1080.png"), url("img/layer_04_1920x1080.png"), url("img/layer_03_1920x1080.png"), url("img/layer_02_1920x1080.png"), url("img/layer_01_1920x1080.png")
}

#comenzar {
    -fx-padding: 8 15 15 15;
    -fx-font-family: "JUICE ITC";
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-size: 3em;
}

#comenzar:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

#comenzar:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#comenzar .text {
    -fx-fill: rgb(0, 0, 0);
    -fx-effect: dropshadow( gaussian, #a30000, 0, 0, 0, 2);
}